<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Create a heatmap layer</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
<script src="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css" rel="stylesheet" />
<style>
	body { margin: 0; padding: 0; }
	#map { position: absolute; top: 0; bottom: 0; width: 100%; }
</style>
</head>
<body>
<div id="map"></div>

<script>
	mapboxgl.accessToken = 'pk.eyJ1Ijoic3VzaHBvcCIsImEiOiJjazZ0OTBndjgwNTMzM210Nm5qejYxNXBwIn0.rECkzGnGNf6F8GDN-Cz3DA';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v10',
        // center: [10, 50],
        center: [-6.2605, 53.350],
        zoom: 11        
    });
    
    map.on('load', function() {
      
      var xhr = new XMLHttpRequest();
      var filePath = '';
      xhr.onreadystatechange = function() {
          if (xhr.readyState === 4){
              filePath = xhr.responseText;
          }
      };
      xhr.open('GET', 'https://www.google.com');
      xhr.send();
            
      map.addSource('noise', {
        'type': 'geojson',
        // 'data': 'sushpop.ck6tdc5zo0bkg2xnsurhk5b8l-8b6cy'
        'data' : filePath//'./noise.geojson'
      });
      map.addLayer({
        'id' : 'noise',
        'type' : 'heatmap',
        'source' : 'noise',      
        'paint': {

          'heatmap-weight': [
          'interpolate',
          ['linear'],
          ['get', 'noise'],
          60,
          1,
          70,
          2,
          80,
          5  
          ]

        }
      })   
    });
</script>

</body>
</html>